.bs-docs-nav {
    background-color: #3B3F51;
    .navbar-brand {
        color: #00d8ff;
        &:hover {
            color: #00d8ff;
        }
    }
    .navbar-collapse {
        > ul {
            li {
                &.nav-item {
                    > a {
                        color: #d8d8d8;
                        background-color: transparent;
                        &:hover {
                            color: #d8d8d8;
                            background-color: transparent;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}